* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.menu-bar {
  background: rgb(0, 0, 0);
  text-align: center;
}
.menu-bar ul {
  display: inline-flex;
  list-style: none;
  color: rgb(85, 68, 68);
}
.menu-bar ul li {
  width: 145px;
  margin: 15px;
  padding: 15px;
}

.menu-bar ul li a {
  text-decoration: none;
  color: #fff;
}
.menu-bar ul li:hover {
  background: #2bab0d;
  border-radius: 3px;
}
